<!-- NAVBAR DE LA PAGINA -->
<!-- BOTON DE PAGINA PRINCIPAL CON ICONO DE LAPTOP-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">
    Pagina Principal <i class="fas fa-laptop-code"></i>
  </a>
  <!-- BOTONES CON SUS ICONOS -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <!-- BOTON DE HOME -->
      <li class="nav-item active">
        <a class="nav-link" href="/"><i class="fas fa-house-user"></i> Home</a>
      </li>
      <!-- BOTON DE ABOUT -->
      <li class="nav-item">
        <a class="nav-link" href="/#about"><i class="fas fa-building"></i> About</a>
      </li>
      <!-- BOTON DE CONTACTO -->
      <li class="nav-item">
        <a class="nav-link" href="contact"><i class="fas fa-user-friends"></i> Contacto</a>
      </li>
    </ul>
  </div>
</nav>